{% extends 'base.html' %}
{% block title %} Register Doctor! {% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4" style="width: 700px;">
        <h1 class="text-center mb-4 lead" style="font-size: 2rem;">Doctor Registration Form </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button class="btn btn-dark w-50">Register</button>
        </form>
    </div>
</div>
{% endblock %}
