{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> User Profile. </h1>
<br/>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% if page_user.profile_pic %}
            <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start">
        {%else%}
            <img src="{% static 'myblog/images/profile1.png' %}" class="img-fluid rounded-start">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">
            {{post.user.first_name }}
            {{post.user.last_name }}
          </h5>
          <p class="card-text text-muted" >

            {% if post.author.profile.website_url %}
                |<a href="{{ page_user.website_url }}">Website </a>
            {% endif %}

            {% if page_user.twitter_url %}
                |<a href="{{ page_user.twitter_url }}">X </a>
            {% endif %}

            {% if page_user.instagram_url %}
                |<a href="{{ page_user.instagram_url }}">Instagram </a>
            {% endif %}

            {% if page_user.github_url %}
                |<a href="{{ page_user.github_url }}"target="_blank" rel="noopener noreferrer" class="social-icon"><i class="fab fa-github"></i></a>
            {% endif %}
          </p>
          <p class="card-text">{{ page_user.bio }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
                                                                        