{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1>Welcome, Dr. {{ user.first_name }}!</h1>
  <p>Patients Treated: {{ dashboard.patients_treated }}</p>
  <p>Upcoming Appointments: {{ dashboard.upcoming_appointments }}</p>
  <p>Total Earnings: ${{ dashboard.total_earnings }}</p>
  <p>Notes: {{ dashboard.notes }}</p>
  {% else %}
    <p><strong>You are nor allowed here and you know it!!!</strong></p>
  {% endif %}

  <li><a class="dropdown-item" href="{% url 'appointment_list' %}">Appointment List</a></li>
  <li><a class="dropdown-item" href="{% url 'doctor_availability' %}">Doctor Availability</a></li>
  <li><a class="dropdown-item" href="{% url 'schedule_appointment' %}">Appointment Scheduling</a></li>
  <li><a class="dropdown-item" href="{% url 'inbox' %}">Inbox</a></li>
  <li><a class="dropdown-item" href="{% url 'sent_messages' %}">Sent</a></li>

{% endblock %}
