{% extends 'base.html' %}
{% block content %}

<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 4rem; text-align: center;">MediLink</h1>
<h2>Where you get all your Medical issues solved</h2>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    This is where all the doctors and patients meet.
</p>

Want to help patients? register here <a href="{% url 'doctor_register' %}">Doctor Register</a> <br/><br/>
Are you a patient seeking consultation? register here <a href="{% url 'patient_register' %}">Patient Register</a>

{% endblock %}
