{% extends 'base.html' %}
{% block content %}

<h1 style="font-family:'Courier New', Courier, monospace; font-size: 4rem; text-align: center; color: red;"><strong>MediLink</strong></h1>

<br/> 
<h3 style="text-align: center;">Search for Proffesionals</h3><br/>
<div class="container-fluid">
    <form class="d-flex" method="get">
        <input class="form-control me-2" type="text" name="speciality" placeholder="Speciality" aria-label="Speciality">
        <input class="form-control me-2" type="text" name="location" placeholder="Location" aria-label="Location">
        <select class="form-control me-2" name="availability">
            <option value="">Any availability</option>
            <option value="">Available</option>
            <option value="">not_available</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% if search_perfomed %}
        <div class="dropdown mt-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="searchResultsDropdown" data-bs-toggle="dropdown" arial-expanded="false">
                Search Results
            </button>
            <ul class="dropdown-menu" arial-labelledby="searchResultsDropdown">
                {% if doctor %}
                    {% for doctor in doctors %}
                        <li class="dropdown-item">
                            <strong>{{ doctor.name }}</strong><br/>
                            Speciality: {{ doctor.speciality }}<br/>
                            Location: {{ doctor.location }}<br/>
                            availability: {% if doctor.is_available %} Availability {% else %} Not Available {% endif %}
                            <a href="{% url 'schedule_appointment' doctor.id %}" class="btn btn-primary btn-sm mt-2">Book Appointment.</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="dropdown-item">No doctors found matching your criteria.</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>
<br/> <br/>
<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;">
    Welcome to MediLink, your trusted place to connect with healthcare professionals.
</h2>
<br/> <br/>
<div class="container" style="justify-content: center; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;"> </br>
    <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 2rem;">
        This is where all doctors and patients Connect.
    </p>

    Are you a Doctor?, seeking to help patients register here <a href="{% url 'doctor_register' %}" class="btn btn-info">Doctor Register</a> <br/><br/>
    Are you a Patient?, seeking consultation? register here <a href="{% url 'patient_register' %}"class="btn btn-info">Patient Register</a> <br/> <br/>
    Already have an account? <a href="{% url 'login' %}"class="btn btn-info">Login</a>
    <br/> <br/>
</div>


{% endblock %}

