{% extends 'base.html' %}

{% block content %}
<h2>Inbox</h2>
<ul class="list-group">
    {% for message in messages %}
    <li class="list-group-item {% if not message.is_read %}font-weight-bold{% endif %}">
        <a href="#">{{ message.sender }}: {{ message.decrypted_content|truncatewords:10 }}</a>
        <small class="text-muted float-right">{{ message.timestamp }}</small>
    </li>
    {% empty %}
    <li class="list-group-item">No messages to display.</li>
    {% endfor %}
</ul>
<li><a class="dropdown-item" href="{% url 'sent_messages' %}">Sent</a></li>
<li><a class="dropdown-item" href="{% url 'compose_message' %}">Send Message</a></li>
{% endblock %}
